@model IEnumerable<RecipeApplication.ViewModels.IngredientGroup>

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Recipe</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IngredientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IngredientCost)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientName)
            </td>
            <td>
               $ @Html.DisplayFor(modelItem  => item.IngredientCost)
            </td>
            <td>
                @Html.ActionLink("Delete Ingredient","Delete","Ingredients",new { id = item.IngredientId,username = ViewBag.Username,recipeName = ViewBag.Recipe} ,null) |
                @Html.ActionLink("Edit Ingredient","Edit","Ingredients",new { id = item.IngredientId ,username = ViewBag.Username},null)
            </td>
        </tr>
        
    }
    <tr>
        @Html.ActionLink("Add an ingredient","Create","Ingredients",new { recipeName = ViewBag.Recipe,username = ViewBag.Username},null)
    </tr>
</table>
<p>
    @Html.ActionLink("Back to Recipes", "Index","Users", new { username = ViewBag.Username},null)
</p>
