@model IEnumerable<RecipeApplication.ViewModels.RecipeGroup>

@{
    ViewBag.Title = "Userpage";
}

<h2>@ViewBag.NameOfUser's recipes</h2>

<table class="table">
    <tr>
        Recipe Name
    </tr>
    <tr>
        Recipe Cost
    </tr>
    @foreach(var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RecipeName)
        </td>
        <td>
           $ @Html.DisplayFor(modelItem => item.RecipeCost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Recipes", new { id = item.RecipeId},null) |
            @Html.ActionLink("Details", "Details", "Recipes", new { id = item.RecipeId ,username = ViewBag.Username },null) |
            @Html.ActionLink("Delete", "Delete", "Recipes", new { id = item.RecipeId,username = ViewBag.Username },null)
        </td>
    </tr>
    }
    <tr>
        <td>
            @Html.ActionLink("Create new Recipe", "Create", "Recipes", new { username = ViewBag.Username }, null)
        </td>
    </tr>
</table>

